
@{
    ViewBag.Title = "PermissionDenied";
}

<div class="login-box">
        <p class="login-box-msg">You Are Not Allowed To Access This Page</p>
        <p class="login-box-msg">By</p>
        <p class="login-box-msg">@Global.CompanyName</p>
</div>

